// base
$color-deep-background: rgba(30,30,30,.76);
$color-deep-shadow: #1E1E1E ;

$color-green: #12da77;
$color-orange: #f36410;

// icon
$color-icon-activated-bg: $color-orange;
$color-icon-default: #ebebeb;
